.header {
    margin-top: 5%;
}

.topButton {
    cursor: pointer;
    margin-left: 15px;
    vertical-align: middle;
}

.nav-menu {
    font-family: Montserrat;
    background-color: #5f9032;
    border-radius: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.item{
    color: white;
}

hr {
    // margin-top: 5%;
    width: 60%;
}