.card {
    margin-top: 5%;
    width: 40%;
    margin-left: 30%;
    height: 50em;
}

.titulo {
    text-align: center;
    font-family: 'Montserrat';
}

.entry {
    margin-left: 5%;
}

.register {
    background-color: #5f9032;
    border-color: #5f9032;
    color: white;
    margin-top: 5%;
    width: 85%;
    border-radius: 50px 50px 50px 50px;
}

.registerComponent {
    margin-top: 3%;
    margin-left: 15%
}