<div class="card">
    <h1 class="titulo">Registro de usuário</h1>
    <div class="p-field form">
        <label>Nome:* </label>
        <input [(ngModel)]="newUser.name" class="entry" type="text" pInputText>
    </div>
    <div class="p-field form">
        <label>Usuário:* </label>
        <input [(ngModel)]="newUser.userName" class="entry" type="text" pInputText>
    </div>
    <div class="p-field form">
        <label>E-mail:* </label>
        <input [(ngModel)]="newUser.email" class="entry" type="text" pInputText>
    </div>
    <div class="p-field form">
        <label>Nascimento:* </label>
        <input class="entry" type="date" pInputText>
    </div>
    <div class="p-field form">
        <label>CEP:* </label>
        <input class="entry" type="text" pInputText>
    </div>
    <div class="p-field form">
        <label>Estado Civil: </label>
        <input pInputText>
    </div>
    <div class="p-filed form">
        <label>Senha: </label>
        <input class="entry" type="password" pPassword>
    </div>
    <div class="p-field">
        <button class="register" (click)="console()">console</button>
    </div>
</div>